[submodule "submodule/fenix-ui-chart-creator"]
	path = submodule/fenix-ui-chart-creator
	url = https://github.com/FENIX-Platform/fenix-ui-chart-creator.git
[submodule "submodule/fenix-ui-common"]
	path = submodule/fenix-ui-common
	url = https://github.com/FENIX-Platform/fenix-ui-common.git
