<script type='text/x-handlebars-template' id='wsp_ui_structure'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <h1>
                    Water Scarcity Platform
                </h1>
            </div>
        </div>
    </div>
</script>

<script type='text/x-handlebars-template' id='box_structure'>
    <div class='row'>
        <div class='col-xs-6'>
            <h3>
                My Layer
            </h3>
        </div>
        <div class='col-xs-3'>
            <button class='btn btn-default pull-right'>
                Z-Score
            </button>
        </div>
        <div class='col-xs-3'>
            <button class='btn btn-default pull-right'>
                Anomaly
            </button>
        </div>
    </div>
</script>